    <div ng-controller="SocialBarCtrl">
        <ul ng-social-buttons
             data-url="'http://google.com/'"
             data-title="current_title"
             data-description="current_description"
             data-image="'https://www.google.com.ua/images/srpr/logo4w.png'"
             showcounts="false">
            
            <li class="ng-social-facebook">Facebook</li>
            <li class="ng-social-google-plus" data-proxy-url="'/proxy.php'">Google+</li>
            <li class="ng-social-twitter">Twitter</li>
            <!-- <li class="ng-social-vk">Вконтакте</li>
            <li class="ng-social-odnoklassniki">Одноклассники</li>
            <li class="ng-social-mailru">Мой мир</li>  -->
            <li class="ng-social-pinterest">Pinterest</li>
            <li class="ng-social-github" user="esvit" repository="ng-table">GitHub</li>
            <li class="ng-social-github-forks" user="esvit" repository="ng-table">Forks</li>
            <li class="ng-social-stumbleupon">StumbleUpon</li>
        </ul>
    </div> 