<!--  <div class="pull-right">
    <input type="text" ng-model="test.textValue" placeholder="Type something...">
</div>   -->

<h2>{{item.id}} *pg Product</h2>

<!-- <p>You typed: <span class="label">{{test.textValue}}</span></p>  -->


<ul class="nav nav-tabs">
    <li ng-class="{active: $routeSegment.contains('tab1')}">
        <a href="#/product/{{item.id}}/X">Product History</a>
    </li>
    <li ng-class="{active: $routeSegment.contains('tab2')}">
        <a href="#/product/{{item.id}}/Y">Vendor Comparison</a>
    </li>
    <li ng-class="{active: $routeSegment.contains('tab3')}">
        <a href="#/product/{{item.id}}/Z">Related Products</a>
    </li>
    <li ng-class="{active: $routeSegment.contains('tabSlow')}">
        <a href="#/product/{{item.id}}/slow">Slow Load Demo</a>
    </li>
</ul>

<div app-view-segment="2" class="anim">No tab selected.</div>