<!-- <div class="span12">
    <h2>Section 3</h2>  -->
    
       <div class="main-section">
           <div class="text-block">
               <h1> Save Money on <br/> Dental Supply Costs </h1>
               <p>
                   At Sowingo.com, we offer great pricing on the dental supply
                   products that you use and need every day in your dental
                   practise.
               </p>
               <div class="input-group">
                 <input type="text" class="form-control input-lg" placeholder="Search Dental Products..." name="srch-term" id="srch-term">
                 <div class="input-group-btn">
                   <button class="btn btn-default btn-lg btn-sowingo" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                 </div>
               </div>
           </div>
       </div>
       <div class="row register-top-border">
           <div class="register col-md-7 col-md-offset-3">
               <span class="register-text">Sign up right now, <span style="color:#FF7E00; font-weight: 600;">absolutely free.</span> </span>
               <button class="btn btn-lg btn-register">REGISTER TODAY</button>
           </div>
       </div>
       <div class="section dots col-xs-12">
           <div class="text-block">
               <div class="row">
               <div class="dots-section text-center">
                   <span class="fa-stack fa-4x">
                     <i class="fa fa-circle fa-stack-2x" style="color: white;"></i>
                     <i class="fa fa-search fa-stack-1x" style="color: #4D4D4D;"></i>
                   </span>
               </div>
               <div class="dots-divider">
                   <i class="fa fa-circle"></i>
                   <i class="fa fa-circle"></i>
                   <i class="fa fa-circle"></i>
                   <i class="fa fa-circle"></i>
               </div>
               <div class="dots-section text-center">
                   <span class="fa-stack fa-4x">
                     <i class="fa fa-circle fa-stack-2x" style="color: white;"></i>
                     <i class="fa fa-th fa-stack-1x" style="color: #4D4D4D;"></i>
                   </span>
               </div>
               <div class="dots-divider">
                   <i class="fa fa-circle"></i>
                   <i class="fa fa-circle"></i>
                   <i class="fa fa-circle"></i>
                   <i class="fa fa-circle"></i>
               </div>
               <div class="dots-section text-center">
                   <span class="fa-stack fa-4x">
                     <i class="fa fa-circle fa-stack-2x" style="color: white;"></i>
                     <i class="fa fa-bar-chart-o fa-stack-1x" style="color: #4D4D4D;"></i>
                   </span>
               </div>
               </div>
               <div class="row">
                   <div class="dots-section">
                       <p class="text-center">
                       Find Your<br/>Favourite Products.
                       </p>
                   </div>
                   <div class="dots-divider"></div>
                   <div class="dots-section">
                       <p class="text-center">
                       Manage <br/> Your Inventory.
                       </p>
                   </div>
                   <div class="dots-divider"></div>
                   <div class="dots-section">
                       <p class="text-center">
                       Track <br/> Your Finances.
                       </p>
                   </div>
               </div>
           </div>
       </div>
       <div class="section supply-chain-section col-xs-12">
           <div class="text-block">
               <h1> Supply Chain Solution. </h1>
               <p>
                   Sowingo provides an online marketplace where dental
                   professionals are connected with numerous dental suppliers
                   for one-stop shopping.
               </p>
           </div>
           <img class="img-responsive pull-right" src="./images/iStock_000019355157Small.jpg"/>
           <div class="clear-fix"></div>
       </div>
       <div class="section find-products-section col-xs-12">
           <img class="img-responsive" src="./images/find-your-products.png"/>
           <div class="text-block">
               <h1> Find The Products You Use. </h1>
               <p>
                   With thousands of products at your fingertips, we'll make
                   sure you find exactly what you're looking for.
               </p>
           </div>
       </div>
       <div class="section col-xs-12">
           <div class="text-block">
               <h1> Reporting. </h1>
               <p>
               Sowingo keeps track of your expenses so that you don???t have to.
               Review your spending, check how often products are being
               ordered, and monitor your monthly savings.
               </p>
           </div>
           <img class="img-responsive pull-right" src="./images/iStock_000027263711Small.jpg"/>
           <div class="clear-fix"></div>
       </div>
       <div class="section savings-section col-xs-12">
           <img class="img-responsive" src="./images/savings.png"/>
           <div class="text-block">
               <h1> Saving. </h1>
               <p>
               Save money and save time by using our price comparison tool to
               get the best prices on the products you use everyday.
               </p>
           </div>
       </div>
       <div class="section col-xs-12">
           <div class="text-block">
               <h1> Focus on Your Patients, <br/> not Your Dental Supplies. </h1>
               <p>
                   With Sowingo, managing your inventory and keeping your
                   office stocked has never been easier.
               </p>
           </div>
           <img class="img-responsive pull-right" src="./images/iStock_000016675328Small.jpg" />
           <div class="clear-fix"></div>
       </div>
       <div class="section stay-organized-section col-xs-12">
           <img class="img-responsive" src="./images/stay-organized.png" />
           <div class="text-block">
               <h1> Stay Organized. </h1>
               <p>
                   Sowingo???s inventory management tool is an incredibly easy
                   way to keep your supplies organized. Simply drag and drop
                   products into inventory lists that You create. Feel free to
                   organize your supplies by procedure, storage location,
                   favorites, or any way other you want- it???s that easy.
               </p>
           </div>
       </div>
       <div class="row">
           <div class="register col-md-7 col-md-offset-3">
               <span class="register-text">Sign up right now, <span style="color:#FF7E00; font-weight: 600;">absolutely free.</span> </span>
               <button class="btn btn-lg btn-register">REGISTER TODAY</button>
           </div>
       </div>

<!-- 
    xxx Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
</div>  --->