   <ul class="nav nav-pills">
	   <li ng-class="{active: $routeSegment.startsWith('h01')}"><a href="#/product">Products</a></li>
	   <li ng-class="{active: $routeSegment.startsWith('myAccnt')}"><a href="#/myAccount">Specials</a></li>
	   <!-- <li ng-class="{active: $routeSegment.startsWith('h2')}"><a href="#/section2">Specials</a></li>  --->
	   <li ng-class="{active: $routeSegment.startsWith('h3')}"><a href="#/featuredCompanies">Featured Companies</a></li>
	   <li ng-class="{active: $routeSegment.startsWith('h4')}"><a href="#/support">Support</a></li>
   </ul>